.DS_Store
**/node_modules
/dist
run.bat
documentation/*.txt

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
**/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.vs
*.code-workspace
CMakeSettings.json

# python / flask
**/__pycache__/
**/.cache
**/.pytest_cache
**/env/
**/venv/
*.pyc
instance/
**/lib/*.dll
**/lib/*.so
.coverage
htmlcov/
*.egg-info/

# C++ build folders
**/algolibs/build/
**/algolibs/install/
