@mixin rotationAnimation($name) {
    animation-duration: $rotation-animation-duration;
    animation-name: $name;
}

@mixin rotateFromTo($name, $from, $to) {
    @keyframes #{$name} {
        from {
            transform: rotate($from);
        }

        to {
            transform: rotate($to);
        }
    }
}
@mixin glowing($color) {
    @keyframes glowing {
        0% { filter: drop-shadow(0 0 0px $color); }
        50% { filter: drop-shadow(0 0 10px $color); }
        100% { filter: drop-shadow(0 0 0px $color); }
    }
}
