@mixin rotationAnimation($name) {
    animation-duration: $rotation-animation-duration;
    animation-name: $name;
}

@mixin rotateFromTo($name, $from, $to) {
    @keyframes #{$name} {
        from {
            transform: rotate($from);
        }

        to {
            transform: rotate($to);
        }
    }
}
@mixin glowing($color) {
    @keyframes glowing {
        0% { filter: drop-shadow(0 0 0px $color); }
        50% { filter: drop-shadow(0 0 10px $color); }
        100% { filter: drop-shadow(0 0 0px $color); }
    }
}

@mixin pulsating-opacity($name) {
    @keyframes #{$name} {
        0% { opacity: 0 }
        50% { opacity: 1 }
        100% { opacity: 0 }
    }
}

@mixin pulsating-fill($name, $color1, $color2) {
    @keyframes #{$name} {
        0% { fill: $color2 }
        30% { fill: $color1 }
        70% { fill: $color1 }
        100% { fill: $color2 }
    }
}

@mixin pulsating-stroke($name, $color1, $color2) {
    @keyframes #{$name} {
        0% { stroke: $color2 }
        30% { stroke: $color1 }
        70% { stroke: $color1 }
        100% { stroke: $color2 }
    }
}
