// COLORS
$color-background: white;

$interaction-color: hsl(104, 25%, 45%);
$interaction-color-secondary: lighten($interaction-color, 40%);
$disabled-color: hsl(14, 45%, 45%);
$disabled-color-secondary: lighten($disabled-color, 40%);

$color-outline-interactive: black;
$color-outline-noninteractive: white;

$color-pathways: white;

$color-walls: grey;

$color-game-board: hsl(195, 53%, 79%);

$color-ui-border: grey;
$color-ui-border-shadow: darkgrey;
$color-widget: hsl(194, 25%, 90%);

$color-player-stroke: black;
$text-opacity-player-not-user: 0.8;

$objective-color: #ff3399;

$color-menu-background: $color-widget;
$color-menu-hover: orange;

$text-color: #202020;

$color-player-0: hsl(223, 58%, 37%);
$color-player-0-secondary:  hsl(223, 59%, 87%);
$text-color-player-0: white;
$color-player-1: hsl(0, 73%, 33%);
$color-player-1-secondary: hsl(0, 74%, 84%);
$text-color-player-1: $text-color;
$color-player-2: hsl(43, 87%, 53%);
$color-player-2-secondary: lighten($color-player-2, 30%);
$text-color-player-2: $text-color;
$color-player-3: hsl(164, 34%, 47%);
$color-player-3-secondary: lighten($color-player-3, 40%);
$text-color-player-3: white;

$color-glow: $interaction-color;

$as: hsl(223, 58%, 37%);
$asd: hsl(0, 74%, 84%)
;

// LENGTHS

:root {
    --menubar-toggle-size: calc(min(4rem, 8vmin));
}

$menubar-width: calc(min(14rem, 60vw));
$game-widget-width: 14rem;

$score-row-height: 3rem;

// OTHER
$rotation-animation-duration: 0.5s;
