$interaction-color: #749966;
$disabled-color: #bf5e40;

$color-outline: black;

$color-pathways: white;

$color-walls: grey;

$color-game-board: lightblue;

$color-table-border: grey;

$rotation-animation-duration: 0.5s;

$color-player-stroke: black;
$text-opacity-player-not-user: 0.8;

$objective-color: #ff3399;

$color-menu-background: white;
$color-menu-hover: orange;
$color-menu-button: lightblue;

$color-player-0: #274594;
$color-player-0-secondary: lighten($color-player-0, 50%);
$text-color-player-0: white;
$color-player-1: #931717;
$color-player-1-secondary: lighten($color-player-1, 50%);
$text-color-player-1: black;
$color-player-2: #efb520;
$color-player-2-secondary: lighten($color-player-2, 30%);
$text-color-player-2: black;
$color-player-3: #50a28c;
$color-player-3-secondary: lighten($color-player-3, 40%);
$text-color-player-3: white;

$color-glow: $interaction-color;
