$interaction-color: rgb(60, 101, 177);
$disabled-color: rgb(230, 102, 64);

$color-outline: black;
$color-outline-active: $interaction-color;

$color-pathways: white;

$color-walls: grey;

$color-game-board: lightblue;

$rotation-animation-duration: 0.5s;

$color-player-stroke: black;
$opacity-player-not-user: 0.8;

$color-player-0: #274594;
$text-color-player-0: white;
$color-player-1: #931717;
$text-color-player-1: black;
$color-player-2: #efb520;
$text-color-player-2: black;
$color-player-3: #50a28c;
$text-color-player-3: white;

$color-glow: $interaction-color;
